.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-div {
  padding: 0;
}

.charities {
  height:100vh;
  overflow-y: scroll;
  z-index:0;
}

.containerMap{
  height:100vh;
}


@media screen and (max-width: 768px){
  .iner-menu{
    display:block !important;
    justify-content: flex-end;
  }
  .containerMap{
    height:80vh;
  }
}